python-dotenv<=0.20.0
motor
aiofiles
apscheduler
requests
psutil
# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
